.Track{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.Track-action{
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    transition: 0.25s;
    float: right;
    border: 0px;
    background: #000;
    border-radius: 50%;
    color: #fff;
}

.Track-action:hover{
    color: rgba(165, 256, 256, 0.5);
}

.Track-information{
    float: grow 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
}

.Track-information h3{
    margin-bottom: 0.22rem;
}

.Track-information p{
    font-weight: 300;
    
}