.PlayList{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: rgba(95, 23, 23, 0.7);
    box-shadow: 0 4px 2px 2px #000;
}

.PlayList input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: "Montserrat", sans-serif;
    font-size: 1.55rem;
    color: #fff;
}

.PlayList-save{
    cursor: pointer;
    width: 10rem;
    padding: 0.77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #1db954;
    text-align: center;
    color: #fff;
    transition: 0.25s;
    font-weight: 500;
}

.PlayList-save:hover{
    background-color: rgba(65, 233, 129, 0.7);
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .PlayList{
        width: 90%;
    }
}

